@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color: #00ac96;
    font-size: 1.3rem;
    

}

table {
    background-color:#f0f0f0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
   
}

.tableheader{
    color:currentColor;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  td,th {
	  border: 1px solid black;
	  padding: 8px;
  }
  
  .tracls{
    font-size: medium;
    text-decoration: none;
    color:currentColor;
    position: absolute;
    top: 50.5%;
    left: 41.5%;
    transform: translateX(-50%);
  }

  .tracls:hover {
    text-decoration: underline;
    color: black;
  }