@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #00ac96;

}

.content {
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
}

.trainerhome-text {
    font-style: normal;
    font-weight: 600 !important;
    text-align: center;

}



.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.btn-class, a{
    border-color: #00ac96;
    color: #00ac96;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    margin: 7px;
    line-height: 30px;
    text-decoration: none;

}


.btn-class:hover{
    background-color:#00ac96;
    color: #fff;
}

a:hover{
    color: #fff;

}

img{    
    min-width: 70%;
    min-height: 70%;
}

.form-group {
    text-align: center;
}


#logoutfeature {
	color: #00ac96;
    text-decoration: none;
    position: fixed;
    top: 16.5%;
    right: 16.5%;
   
}

#logoutfeature:hover {
    text-decoration: underline;
}





